*, *::before, *::after { box-sizing: border-box; margin: 0; }
p       { font-size: 50px; }
span    { font-size: 20px; }
html    { height: 100vh; background: url('images/bg.jpg'); background-size: cover; background-repeat: no-repeat;}

.container {
    display: flex;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.group-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    justify-content: center;
}
.box {
    padding: 40px;
    background-color: white;
    color: black;
    width: 160px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}


@media screen and (max-width: 730px){
    .group-box {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .box:nth-child(4){
        grid-column: 2/3;
    }
    h1 {
        margin-top: 70px;
    }
}
@media screen and (max-width: 550px){
    .group-box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media screen and (max-width: 360px){
    .container {
        align-items: center;
    }
    h1 {
        margin-top: 100px;
    }
    .group-box {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
    }
    .box {
        padding: 20px;
    }
    .box:nth-child(4){
        grid-column: 1/1;
    }
}

